/* Add your custom styles here */
.product-detail-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.product-detail {
  display: flex;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.product-detail img {
  max-width: 600px;
  width: 100%;
  object-fit: cover;
}

.product-info {
  padding: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #333;
}

.price {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #777;
}

.description {
  margin-bottom: 20px;
  color: #555;
}

.add-to-cart {
  padding: 10px 20px;
  font-size: 16px;
  color: #ff9c6e; /* Sand color for text */
  background-color: white;
  border: 2px solid #ff9c6e; /* Sand color for border */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s; /* Added transition for text color and border color */
  text-align: center;
  display: inline-block;
}

.add-to-cart:hover {
  background-color: #ff9c6e; /* Sand color for background */
  color: white; /* White text color */
  border-color: #ff9c6e; /* Sand color for border */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .product-detail img {
    max-width: 60%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .product-detail img {
    max-width: 50%;
    height: auto;
  }
  .product-detail-section {
    padding: 30px;
  }

  .product-info h1 {
    font-size: 2em;
  }

  .price {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: row;
  }

  .product-info {
    padding: 20px;
  }

  .product-info h1 {
    font-size: 1.8em;
  }

  .price {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .product-detail-section {
    padding: 10px;
  }

  .product-info h1 {
    font-size: 1.5em;
  }

  .price {
    font-size: 1em;
  }

  .description {
    font-size: 0.9em;
  }

  .add-to-cart {
    font-size: 14px;
    padding: 8px 16px;
  }
}
