{% load static %}
<footer>
    <div class="footer-content">
        <div class="footer-left">
            <img src="/images/loja logo (1).png"height="50px"width="100px" alt="Loja Logo">
            <h2>MENU</h2>
            <ul style="color: black;">
                <li><a href="home.html">Home</a></li>
                <li><a href="clothes.html">Clothes</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Appliances</a></li>
                <li><a href="#">Loja Products</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <div class="social-media">
                <a href="#"><img src="/images/instagram-icon.png" alt="Instagram"></a>
                <a href="#"><img src="/images/facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="/images/linkedin-icon.png" alt="LinkedIn"></a>
            </div>
            <p>Feel free to ask any question .</p>
            <div>
                <button type="button">Get quote</button>
                
            </div>
        </div>
    </div>
    <div class="rights">
        <p>© 2024 Loja. All rights reserved.</p>
    </div>
</footer>